<app-header-title [title]="'Usuarios'" ></app-header-title>
<mat-toolbar style="background-color: white;">
    <mat-form-field appearance="outline">
        <!-- <mat-label>Buscar</mat-label> -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <span class="example-spacer"></span>
    <button mat-flat-button (click)="openDialogCreateUser()" >
        Agregar usuario
    </button>
</mat-toolbar>
<br>
<mat-card class="">
    <mat-card-content>
        <!-- <div class="d-flex w-100"> -->
        <div class="w-100">
            <!-- <mat-card-title>Sales Overview</mat-card-title> -->
            <div class="m-l-auto">
                
                <div class="table-responsive">
                    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="tabla users">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                        Nombre
                        </mat-header-cell>
                        <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">
                        {{ element.name }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                        Email
                        </mat-header-cell>
                        <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">
                        {{ element.email }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                        <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                            Estado
                        </mat-header-cell>
                        <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">
                            @if (element.isActive) {
                                Activo
                            }@else {
                                Inactivo
                              }
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="rol">
                        <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                        Rol
                        </mat-header-cell>
                        <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">
                        {{ element.rol }}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">
                        Acción
                        </mat-header-cell>
                        <mat-cell class="p-16 f-s-14 p-r-0 text-right" *matCellDef="let element">
                            <i-feather name="edit" class="big fill-red icon-18" (click)="openDialogEditUser(element)"></i-feather>
                            <i-feather name="Trash2" class="big fill-red icon-18" (click)="deleteuser()"></i-feather>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
                        Foto
                        </mat-header-cell>
                        <mat-cell class="p-16 p-l-0" *matCellDef="let element">
                            <div class="d-flex align-items-center">
                            <img ngOptimizedImage [ngSrc]="element.imagePath" alt="users" width="70" height="60" class="rounded-circle" />
                            </div>
                        </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
                    </mat-paginator>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>