table {
    width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  max-width: 100%;
  overflow: auto;
}

.mat-column-isActive {
  flex: 0 0 100px;
}

.mat-column-action {
  flex: 0 0 180px;
  padding-right: 8px;
}

th.mat-column-action, td.mat-column-action {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

@media only screen and (max-width: 767px) {
     .mat-column-action {  flex: 0 0 150px; }
     .mat-column-name, .mat-column-rol , .mat-column-email {
      flex: 0 0 160px;
    }
}

.search {
  width: 270px;
}

.toolbar-container {
  display: block; 
}

mat-toolbar {
  display: flex; 
  align-items: center;
  flex-wrap: wrap; 
  height: auto !important; 
  padding: 10px; 
  gap: 8px;
}

.search {
  flex-grow: 1; 
  max-width: 300px; 
  margin-bottom: 0 !important;
}

.action-buttons-group {
  display: flex; 
  gap: 8px; 
  flex-wrap: wrap; 
  justify-content: flex-end; 
  align-items: center;
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.action-buttons-group button {
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search ::ng-deep .mat-mdc-text-field-wrapper {
  padding-bottom: 0 !important;
}

.search ::ng-deep .mat-mdc-form-field {
  width: 100%;
}

@media (max-width: 900px) {
    mat-toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .example-spacer {
        display: none; 
    }
    
    .search-group {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        gap: 8px;
    }

    .search {
        flex-grow: 1; 
        max-width: none; 
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }
    
    .search-button {
        margin-left: 0 !important; 
        margin-top: -10px !important;
        align-self: center;
    }

    .action-buttons-group {
        width: 100%;
        justify-content: flex-start;
        margin-top: 10px !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .action-buttons-group button {
        height: 40px !important;
        flex-grow: 1; 
        margin-left: 0 !important;
        padding: 6px 15px !important;
    }
}

mat-toolbar.mat-toolbar.mat-toolbar-single-row {
    margin-top: 0;
    padding-top: 0;
}