table {
    width: 100%;
}
.prueba {
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3JtMzQ3LXBvcnBsYS0wMS1lXzEta2ttZDF2eTQuanBn.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center right; /* Centra la imagen horizontalmente y la alinea a la derecha */
    /* Otros estilos opcionales */
}
.example-spacer {
flex: 1 1 auto;
}