#login{
    background-image: url('./../../assets/fondologin.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll (opcional) */
  }