<h2 mat-dialog-title >
    Crear usuario 
</h2>

<mat-dialog-content class="mat-typography">
    <div class="d-flex align-items-center">
    <div class="right-bg-content p-10">
        <form [formGroup]="userFormGroup" #f="ngForm">

          <div class="row p-10">
            <mat-form-field appearance="outline" class="example-full-width">
              <input
              matInput
              placeholder="Nombre"
              formControlName="name"
              required="true"
              type="text"
              />
              <!-- <mat-error>Error</mat-error> -->
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="example-full-width">
              <input
              matInput
              placeholder="Email"
              formControlName="email"
              required="true"
              type="email"
              />
              <!-- <mat-error>Error</mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
              <input
              matInput
              placeholder="Contraseña"
              formControlName="password"
              required="true"
              type="password"
              />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-select
            placeholder="Roles"
            formControlName="role"
            required="true"
            >
            <mat-option [value]="1">{{
                'Administrador' | titlecase
            }}</mat-option>
            <mat-option [value]="2">{{
                'Almacén' | titlecase
            }}</mat-option>
            <mat-option [value]="3">{{
                'Médico' | titlecase
            }}</mat-option>
            <mat-option [value]="4">{{
                'Auditor' | titlecase
            }}</mat-option>
            </mat-select>
        </mat-form-field>

<!--           <mat-form-field appearance="outline" class="example-full-width">
            <mat-select
            placeholder="roles"
            formControlName="role"
            required="true"
            >
            <mat-option value="null">
                Ninguno
            </mat-option>
            @for (item of listRolesActives; track item) {
                <mat-option [value]="item.id">{{
                    item.name | titlecase
                }}</mat-option>
            }
            </mat-select>
         </mat-form-field> -->

<!--           <mat-form-field appearance="outline" class="example-full-width">
            <mat-select
            placeholder="roles"
            formControlName="role"
            required="true"
            >
            <mat-option value="admin">{{
                'Administrador' | titlecase
            }}</mat-option>
            <mat-option value="almacen">{{
                'Almacén' | titlecase
            }}</mat-option>
            <mat-option value="medico">{{
                'Médico' | titlecase
            }}</mat-option>
            <mat-option value="auditor">{{
                'Auditor' | titlecase
            }}</mat-option>
            </mat-select>
        </mat-form-field> -->

          </div>
      
          <div class="row">
              <div class="ml-auto">
                  <button
                  color="primary"
                  mat-flat-button
                  [disabled]="userFormGroup.invalid && disableButton"
                  (click)="saveUser()"
                  >
                  Guardar
                  </button>
                  <button
                  class="m-r-10 bg-error m-l-8"
                  mat-flat-button
                  (click)="cancel()"
                  >
                  Cancelar
                  </button>
              </div>
          </div>
        </form>
    </div>
    </div>
</mat-dialog-content>