.wrapper-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .img {
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }

.example-full-width {
  width: 100%;
}