<mat-drawer-container class="example-container" autosize>
    <!-- Menu: -->
    <mat-drawer class="example-sidenav" mode="side" [opened]="isSidenavOpen">
        <mat-list role="list">
            <mat-list-item role="listitem" (click)="changeSection('title')" [class.active]="activeSection === 'title'">Título</mat-list-item>
            <mat-list-item role="listitem" (click)="changeSection('summary')" [class.active]="activeSection === 'summary'">Resumen</mat-list-item>
            <mat-list-item role="listitem" (click)="changeSection('conclusions')" [class.active]="activeSection === 'conclusions'">Conclusiones</mat-list-item>
        </mat-list>
    </mat-drawer>
    <!-- Contenido: -->
    <div class="example-sidenav-content">
    @if (this.token) {        
        <div class="d-flex align-items-center">
            <div class="right-bg-content p-10">
                <form [formGroup]="reportFormGroup" #f="ngForm" >
                <!-- Sección de Título -->
                 @if (activeSection === 'title') {
                  <div class="row p-10" >
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input
                      matInput
                      placeholder="Título"
                      formControlName="title"
                      required="true"
                      type="text"
                      />
                  </mat-form-field>
              
                  <mat-form-field appearance="outline" class="example-full-width m-l-10">
                      <input
                      matInput
                      placeholder="Destinatario"
                      formControlName="receiver"
                      required="true"
                      type="text"
                      />
                  </mat-form-field>
    
                  <mat-form-field appearance="outline" class="example-full-width m-l-10">
                    <mat-select
                    placeholder="Auditor"
                    formControlName="auditor"
                    required="true"
                    readonly
                    >
                    <mat-option [value]="null">{{
                        'Ninguno' | titlecase
                    }}</mat-option>
                    <mat-option [value]="this.token.sub">{{
                        user_name | titlecase
                    }}</mat-option>
                    </mat-select>
                </mat-form-field>
        
                  </div>
              
                  <div class="row">
                      <div class="ml-auto">
                        <!-- @if(!hiddenButtonCreation){
                          <button 
                          color="primary"
                          mat-flat-button 
                          (click)="save()"
                          >
                          Guardar
                          </button>
                        } -->
                          <button
                          class=" bg-error m-l-8"
                          mat-flat-button 
                          (click)="cancel()"
                          >
                          Cancelar
                          </button>
                          <button
                          class="m-r-10 bg-error m-l-8"
                          mat-flat-button 
                          (click)="save();"
                          >
                          Siguiente  <mat-icon>arrow_forward</mat-icon>
                          </button>
<!--                           <button
                          class="m-r-10 bg-error m-l-8"
                          mat-flat-button 
                          (click)="changeSection('summary')"
                          >
                          Siguiente  <mat-icon>arrow_forward</mat-icon>
                          </button> -->
                      </div>
                  </div>
                }

                <!-- Sección de Resumen -->
                @if (activeSection === 'summary') {
                <div>
                    <div class="row p-10">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Objetivo"
                            formControlName="summary_objective"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Alcance"
                            formControlName="summary_scope"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Metodología"
                            formControlName="summary_methodology"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Conclusión y Observación"
                            formControlName="summary_conclusionAndObservation"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="ml-auto">
                            <button
                            class="m-r-10 bg-error m-l-8"
                            mat-flat-button 
                            (click)="changeSection('title')"
                            >
                            <mat-icon>arrow_back</mat-icon> Regresar
                            </button>
<!--                             <button
                            color="primary"
                            mat-flat-button 
                            (click)="updateReport()"
                            >
                            Guardar
                            </button> -->
                            <button
                            class=" bg-error m-l-8"
                            mat-flat-button 
                            (click)="cancel()"
                            >
                            Cancelar
                            </button>
                            <button
                            class="m-r-10 bg-error m-l-8"
                            mat-flat-button 
                            (click)="updateReport()"
                            >
                            Siguiente  <mat-icon>arrow_forward</mat-icon>
                            </button>
<!--                             <button
                            class="m-r-10 bg-error m-l-8"
                            mat-flat-button 
                            (click)="changeSection('conclusions')"
                            >
                            Siguiente  <mat-icon>arrow_forward</mat-icon>
                            </button> -->
                        </div>
                    </div>
                </div>
                }

                <!-- Sección de Conclusiones -->
                @if (activeSection === 'conclusions') {
                <div>
                    <div class="row p-10">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Introducción"
                            formControlName="introduction"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Metodología Detallada"
                            formControlName="detailed_methodology"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Hallazgos"
                            formControlName="findings"
                            required="true"
                            rows="3"
                            ></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <textarea
                            matInput
                            placeholder="Conclusiones"
                            formControlName="conclusions"
                            required="true"
                            rows="5"
                            ></textarea>
                        </mat-form-field>
                    </div>
                    <!-- Botones de navegación para la sección de Conclusiones -->
                    <div class="row">
                        <div class="ml-auto">
                            <button
                            class="m-r-10 bg-error m-l-8"
                            mat-flat-button 
                            (click)="changeSection('summary')"
                            >
                            <mat-icon>arrow_back</mat-icon> Regresar
                            </button>
                            <button
                            color="primary"
                            mat-flat-button 
                            (click)="updateReport()"
                            >
                            Guardar
                            </button>
                            <button
                            class=" bg-error m-l-8"
                            mat-flat-button 
                            (click)="cancel()"
                            >
                            Cancelar
                            </button>
                        </div>
                    </div>
                </div>
                }

                </form>
            </div>
        </div>
    }
    <!-- form -->
    </div>
</mat-drawer-container>