<h2 mat-dialog-title >
    Crear producto 
</h2>

<mat-dialog-content class="mat-typography">
    <div class="d-flex align-items-center">
    <div class="right-bg-content p-10">
        <form [formGroup]="createProdFormGroup" #f="ngForm">
           <div class="wrapper-img" >
            <img
              class="img"
              alt="user"
              [src]="
                imgBase64 ? imgBase64 : '../../assets/images/user.png'
              "
            />
            <button
              type="button"
              color="primary"
              mat-flat-button
              (click)="fileInput.click()"
            >
              Seleccionar imagen
            </button>
            <input
              hidden
              (change)="onFileSelected($event)"
              #fileInput
              type="file"
              accept="image/png, image/jpeg"
            />
          </div>

          <div class="row p-10">
            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Nombre"
                formControlName="name"
                required="true"
                type="text"
                />
                <mat-error *ngIf="createProdFormGroup.controls['name'].hasError('required') || createProdFormGroup.controls['name'].hasError('maxLength') ">
                    El nombre es requerido y como máximo puede tener 50 caracteres.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Descripción"
                formControlName="description"
                required="true"
                type="text"
                />
                <mat-error *ngIf="createProdFormGroup.controls['description'].hasError('required') || createProdFormGroup.controls['description'].hasError('maxLength') ">
                    La descripción es requerida y como máximo puede tener 50 caracteres.
                </mat-error>
            </mat-form-field>        
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-select
                placeholder="Categoría"
                formControlName="category"
                required="true"
                >
                <mat-option [value]="'categoria1'">{{
                    'categoria1' | titlecase
                }}</mat-option>
                <mat-option [value]="'categoria2'">{{
                    'categoria2' | titlecase
                }}</mat-option>
                <mat-option [value]="'categoria3'">{{
                    'categoria3' | titlecase
                }}</mat-option>
                </mat-select>

                <mat-error *ngIf="createProdFormGroup.controls['category'].hasError('required') || createProdFormGroup.controls['category'].hasError('maxLength') ">
                    La categoría es requerida y como máximo puede tener 50 caracteres.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-select
                placeholder="Tipo"
                formControlName="type"
                required="true"
                >
                <mat-option value="medicamentos">{{
                    'Medicamentos' | titlecase
                }}</mat-option>
                <mat-option value="uniformes">{{
                    'Uniformes' | titlecase
                }}</mat-option>
                <mat-option value="equipos odontologicos">{{
                    'Equipos Odontológicos' | titlecase
                }}</mat-option>
                </mat-select>
                <mat-error *ngIf="createProdFormGroup.controls['type'].hasError('required') || createProdFormGroup.controls['type'].hasError('maxLength') ">
                    El tipo es requerido y como máximo puede tener 50 caracteres.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Stock"
                formControlName="stock"
                required="true"
                type="number"
                />
                <mat-error *ngIf="createProdFormGroup.controls['stock'].hasError('required')">
                    El stock es requerido y como máximo puede tener 3 caracteres.
                </mat-error>
                <mat-error *ngIf="createProdFormGroup.controls['stock'].hasError('maxLength')">
                    El stock como máximo puede tener 3 caracteres.
                </mat-error>
                <mat-error *ngIf="createProdFormGroup.controls['stock'].hasError('max')">
                    El stock como máximo puede tener un valor de 100.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Código"
                formControlName="code"
                required="true"
                type="text"
                />
                <mat-error *ngIf="createProdFormGroup.controls['code'].hasError('required') || createProdFormGroup.controls['code'].hasError('maxLength') ">
                    El código es requerido y como máximo puede tener 50 caracteres.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <input matInput [matDatepicker]="expiration_date" placeholder="Fecha de vencimiento" formControlName="expiration_date" required="true">
                <mat-hint>MMMM DD, YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="expiration_date"></mat-datepicker-toggle>
                <mat-datepicker #expiration_date></mat-datepicker>

                <mat-error *ngIf="createProdFormGroup.controls['expiration_date'].hasError('required') || createProdFormGroup.controls['expiration_date'].hasError('maxLength') ">
                    La fecha de vencimiento es requerida y como máximo puede tener 50 caracteres.
                </mat-error>
            </mat-form-field>
              
          </div>
      
          <div class="row">
              <div class="ml-auto">
                  <button
                  color="primary"
                  mat-flat-button
                  [disabled]="createProdFormGroup.invalid && disableButton"
                  (click)="saveUser()"
                  >
                  Guardar Producto
                  </button>
                  <button
                  class="m-r-10 bg-error m-l-8"
                  mat-flat-button
                  (click)="cancel()"
                  >
                  Cancelar
                  </button>
              </div>
          </div>
        </form>
    </div>
    </div>
</mat-dialog-content>
