<app-header-title [title]="'Pacientes'" ></app-header-title>
<mat-toolbar style="background-color: white;">

    <mat-form-field appearance="outline" class="search m-t-20">
        <input matInput class="p-b-0" placeholder="Buscar por cédula" [formControl]="searhField" />
    </mat-form-field>
    
    <button mat-flat-button color="primary" class="m-l-10 margin-left-none"
    (click)="getAllPatients(this.pageIndex, this.pageSize)">
        <i-feather name="search"></i-feather>
    </button>

</mat-toolbar>

<!-- @if (this.role === 'admin') {
    <span class="example-spacer"></span>
    <button mat-flat-button color="secondary-fixed" (click)="openDialogCreate()" style="padding: 0 35px;" class="m-l-20">
        Agregar
    </button>
}
<br> -->
<mat-card class="">
    <mat-card-content>
        <!-- <div class="d-flex w-100"> -->
        <div class="w-100">
            <div class="m-l-auto">
                @if (dataSource.length) {
                 <section class="example-container mat-elevation-z8" tabindex="0">
                     <div class="table-responsive">
                         <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="tabla patients">
                         <ng-container matColumnDef="name" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Nombre
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.name | titlecase
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="cedula" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Cédula
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.cedula | titlecase
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="birthdate" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Fecha de Nacimiento
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.birthdate | date:'dd-MM-yyyy'
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="age" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Edad
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.age
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="gender" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Género
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.gender | titlecase
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="civilStatus" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Estado Civil
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.civilStatus | titlecase
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="children" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Hijos
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.children
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="phone" sticky>
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Teléfono
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">{{
                                 element.phone
                             }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="email">
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Email
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">
                             {{ element.email }}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="createdAt">
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                             Fecha
                             </mat-header-cell>
                             <mat-cell class="p-16" *matCellDef="let element" class="f-s-14">
                             {{ element.createdAt | date:'dd-MM-yyyy'}}</mat-cell>
                         </ng-container>

                         <ng-container matColumnDef="action" >
                             <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 text-right p-r-0">
                             Acción
                             </mat-header-cell>
                             <mat-cell class="p-16 f-s-14 p-r-0 text-right" *matCellDef="let element">
                                 <button mat-icon-button aria-label="Ver" (click)="openDialogSee(element)">
                                     <i-feather name="eye"></i-feather>
                                 </button>
 
<!--                                  @if (this.role === 'admin') {
                                     <button mat-icon-button aria-label="Editar" (click)="openDialogEdit(element)">
                                         <i-feather name="edit" class="big fill-red icon-18"></i-feather>
                                     </button>
                                     <button mat-icon-button aria-label="Eliminar" (click)="deletePatients(element)">
                                         <i-feather name="Trash2" class="big fill-red icon-18"></i-feather>
                                     </button>
                                 } -->
                             </mat-cell>
                         </ng-container>
                     
                         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                         <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                         </table>
     
                         <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="handlePageEvent($event)"
                         [length]="this.dataSource.length" [pageSize]="pageSize" [pageIndex]="pageIndex" showFirstLastButtons
                         aria-describedby="table patients"></mat-paginator>
                     </div>
                 </section>
                }@else {
                    <div [style.textAlign]="'center'">
                        <p>No hay datos.</p>
                      </div>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>