.wrapper-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img {
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }
  .example-full-width {
    width: 100%;
  }
.ocultar-en-movil-tablet {
  display: inline-bloc !important;
  @media (min-width: 600px) and (max-width: 991px) {
    display: none !important;
  }
  @media (max-width: 599px) {
    display: none !important;
  }
}
.row-with-civil-status {
  display: flex;
  flex-direction: row; 
  width: 100%;
  gap: 16px; 
  .mat-form-field {
    flex-grow: 1; 
    margin: 0;
    width: 100%;
  }
  .gender-field {
    flex-grow: 0;
    flex-shrink: 0;
    width: 180px; 
  }
  .civil-status-field {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
  @media (max-width: 767px) {
    .row-with-civil-status {
      flex-direction: column; 
      gap: 0;
      .mat-form-field {
        width: 100%; 
        margin-bottom: 16px; 
        flex-grow: 1; 
        flex-shrink: 1; 
      }
      .gender-field,
      .civil-status-field {
        width: 100%; 
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
    .full-width-row {
        flex-direction: column;
        gap: 0;
        .mat-form-field {
          margin-bottom: 16px;
        }
    }
  }