table {
    width: 100%;
}
.example-spacer {
flex: 1 1 auto;
}
.example-container {
  max-width: 100%;
  overflow: auto;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}
.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-column-id{
  flex: 0 0 100px;
}

.mat-column-title
// .mat-column-status,
// .mat-column-duplicated
{
  flex: 0 0 200px;
}
.mat-column-status, .mat-column-duplicated{
  flex: 0 0 130px;
}
.mat-column-endDate, .mat-column-startDate{
  flex: 0 0 190px;
}
.mat-column-action{
  // flex: 0 0 130px;
  flex: 0 0 220px;
}
.search{
  width: 270px;
}
