table {
    width: 100%;
}
.example-spacer {
flex: 1 1 auto;
}
.example-container {
  max-width: 100%;
  overflow: auto;
}
.mat-column-action {
  width: 700px !important;
  padding-right: 8px;
}
.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}
.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}