<h2 mat-dialog-title>
     @if(this.role === "admin"){
         <!-- Asignar producto a un empleado / almacén móvil  -->
         ¿A quién asignarás el insumo médico? 
     }@else {
         Asignar producto a un empleado
     }
</h2>

<mat-dialog-content class="mat-typography">
    <div class="d-flex align-items-center">
    <div class="right-bg-content p-10 p-t-0">
        <form [formGroup]="AssignProductForm" #f="ngForm">
            <div class="row p-10">
        
            @if(this.role === "admin"){ 
                <!-- <span class="m-l-10 m-b-4">¿A quién asignarás el insumo médico? </span><br>  -->
                <div class="assignment-type-selection">
                <mat-button-toggle-group 
                    [formControl]="recipientControl"
                    aria-label="Seleccionar tipo de asignación"
                    name="recipient"
                    class="example-full-width"
                    >
                    <!-- [formControl]="AssignProductForm.get('recipient')" -->
                    <mat-button-toggle value="employee">
                    <mat-icon>person</mat-icon>
                    <span>Asignar a Empleado</span>
                    </mat-button-toggle>

                    @if(this.role === "admin"){
                        <mat-button-toggle value="mobile-warehouse">
                        <mat-icon>medication</mat-icon>
                        <span>Enviar a Almacén Móvil</span>
                        </mat-button-toggle>
                    }

                </mat-button-toggle-group>
                </div>
        }

            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Nombre del Producto"
                formControlName="name"
                required="true"
                type="text"
                />
                <mat-error *ngIf="AssignProductForm.controls['name'].hasError('required') || AssignProductForm.controls['name'].hasError('maxLength') ">
                    El nombre es requerido y como máximo puede tener 100 caracteres.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                [placeholder]="AssignProductForm.get('recipient')?.value === 'employee' ? 'Número de productos (máx. 3)' : 'Número de productos (mín. 4)'"
                formControlName="products"
                required="true"
                type="number"
                />
<!--                 si
                <mat-error *ngIf="AssignProductForm.controls['products'].hasError('required') || AssignProductForm.controls['products'].hasError('min') ">
                    El número de productos es requerido y debe ser mayor a 0.
                </mat-error>
                <mat-error *ngIf="AssignProductForm.controls['products'].hasError('max') ">
                    Máximo de 3 productos para la asignación al empleado.
                </mat-error> -->


                <!-- <mat-error *ngIf=" AssignProductForm.controls['recipient'].value != 'employee' && AssignProductForm.controls['products'].hasError('required') || AssignProductForm.controls['products'].hasError('min') ">
                    El número de productos es requerido y debe ser mayor a 3.
                </mat-error> -->

                <!-- <mat-error *ngIf="AssignProductForm.get('recipient')?.value === 'medico' && AssignProductForm.controls['products'].hasError('required') || AssignProductForm.controls['products'].hasError('min') ">
                    Mínimo de 4 productos para la asignación al médico.
                </mat-error> -->

                <mat-error *ngIf="AssignProductForm.controls['products'].hasError('required') && AssignProductForm.get('recipient')?.value === 'employee'">
                    El número de productos es requerido y debe ser mayor a 0.
                </mat-error>
                <mat-error *ngIf="AssignProductForm.controls['products'].hasError('min') && AssignProductForm.get('recipient')?.value === 'employee'">
                    El número de productos debe ser mayor a 0.
                </mat-error>
                <mat-error *ngIf="(AssignProductForm.controls['products'].hasError('required') || AssignProductForm.controls['products'].hasError('min')) && AssignProductForm.get('recipient')?.value === 'mobile-warehouse'">
                    El número de productos es requerido y debe ser mayor a 3.
                </mat-error>
                <mat-error *ngIf="AssignProductForm.controls['products'].hasError('max') ">
                    Máximo de 3 productos para la asignación al empleado.
                </mat-error>
            </mat-form-field>

             <!-- Campo de selección de Empleado  -->
            @if (AssignProductForm.get('recipient')?.value === 'employee') {
               <div class="employee-selection" class="example-full-width">
                @if (!showNewEmployeeForm) {
                   <div  class="form-row">
                       <mat-form-field appearance="outline" class="example-full-width">
                           <input type="text" matInput placeholder="Empleado" formControlName="employee" [matAutocomplete]="autoEmployee">
                           <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayFn">
                             @for (option of filteredEmployeesOptions | async; track option) {
                               <!-- <mat-option [value]="option">{{ displayFn(option) }}</mat-option> -->
                               <mat-option [value]="option">{{option.name | titlecase }}-{{option.cedula}}</mat-option>
                             }
                           </mat-autocomplete>
                           <mat-error *ngIf="AssignProductForm.controls['employee'].hasError('required')">
                               El empleado es requerido.
                           </mat-error>
                           <button 
                           mat-icon-button 
                           matSuffix 
                           type="button" 
                           (click)="toggleNewEmployeeForm()"
                           matTooltip="Agregar nuevo empleado"
                         >
                           <mat-icon>person_add</mat-icon> 
                         </button>
                       </mat-form-field>
                   </div>
                }

                 <!-- Formulario para Agregar Nuevo Empleado  -->
                @if (showNewEmployeeForm) {
                    <mat-card class="nested-form-card">
                    <mat-card-header>
                        <mat-card-title>Datos del Empleado</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="employeeForm">
                        <div class="form-row">
                            <mat-form-field appearance="outline" class="example-full-width">
                            <input matInput placeholder="Nombre" formControlName="name" required>
                            @if (employeeForm.get('name')?.invalid && employeeForm.controls['name'].hasError('required') && employeeForm.get('name')?.touched) {
                                <mat-error>Nombre es requerido</mat-error>
                            }
                            <mat-error *ngIf="employeeForm.controls['name'].hasError('maxlength')">
                            El nombre no puede exceder los 200 caracteres.
                            </mat-error>
                            </mat-form-field>
<!--                             <mat-form-field appearance="outline" class="example-full-width">
                                <input matInput placeholder="Cédula" formControlName="cedula" required>
                                @if (employeeForm.controls['cedula'].hasError('required') && employeeForm.get('cedula')?.touched) {
                                    <mat-error>Cédula es requerido</mat-error>
                                }
                                @if (employeeForm.controls['cedula'].errors?.['maxLength']) {
                                    <mat-error>Máximo de 10 caracteres</mat-error>
                                }
                            </mat-form-field> -->

                        <!-- Nuevo grupo para Cédula con select y input -->
                        <div class="form-group" style="display: flex; gap: 8px;">
                            <mat-form-field appearance="outline" color="primary" style="width: 25%;">
                                <!-- <mat-label>Tipo</mat-label> -->
                                <mat-select formControlName="cedulaType" required >
                                <mat-option value="V">V</mat-option>
                                <mat-option value="E">E</mat-option>
                                </mat-select>
                                <mat-error *ngIf="employeeForm.controls['cedulaType'].hasError('required')">
                                Tipo requerido.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" color="primary" style="flex-grow: 1;">
                                <!-- <mat-label>Cédula</mat-label> -->
                                <input
                                matInput
                                placeholder="Ingresa tu cédula"
                                formControlName="cedulaNumber"
                                required
                                type="text"
                                />
                                <mat-error *ngIf="employeeForm.controls['cedulaNumber'].hasError('required')">
                                La cédula es requerida.
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls['cedulaNumber'].hasError('maxlength')">
                                La cédula no puede exceder los 10 caracteres.
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls['cedulaNumber'].hasError('pattern')">
                                La cédula debe contener solo números.
                                </mat-error>
                            </mat-form-field>
                        </div>

                            <mat-form-field appearance="outline" class="example-full-width">
                                <input matInput placeholder="Email" formControlName="email" required>
                                @if (employeeForm.get('email')?.invalid && employeeForm.controls['email'].hasError('required') && employeeForm.get('email')?.touched) {
                                    <mat-error>Email es requerido</mat-error>
                                }
                                <mat-error *ngIf="employeeForm.controls['email'].hasError('email')">
                                Por favor, introduce un email válido.
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls['email'].hasError('maxlength')">
                                El email no puede exceder los 100 caracteres.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                                <input matInput placeholder="Teléfono" formControlName="phone" required>
                                @if (employeeForm.get('phone')?.invalid && employeeForm.controls['phone'].hasError('required') && employeeForm.get('phone')?.touched) {
                                    <mat-error>Teléfono es requerido</mat-error>
                                }
                                <mat-error *ngIf="employeeForm.controls['phone'].hasError('pattern')">
                                Por favor, introduce un número de teléfono válido.
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls['phone'].hasError('maxlength')">
                                El teléfono no puede exceder los 50 caracteres.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        </form>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button 
                        type="button" 
                        mat-button 
                        (click)="cancelEmployee()"
                        >
                        Cancelar
                        </button>
                        <button 
                        type="button" 
                        mat-raised-button 
                        color="primary" 
                        (click)="saveEmployee()"
                        [disabled]="employeeForm.invalid"
                        >
                        Guardar Empleado
                        </button>
                    </mat-card-actions>
                    </mat-card>
                }
               </div>
            }

             <!-- Campo de selección de Médico (Inventario Móvil)  -->
            @if (AssignProductForm.get('recipient')?.value === 'mobile-warehouse') {
                <div class="medico-selection" class="example-full-width">
                    <div  class="form-row">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <input type="text" matInput placeholder="Médico" formControlName="medico" [matAutocomplete]="autoMedico">
                            <mat-autocomplete #autoMedico="matAutocomplete" [displayWith]="displayFn">
                              @for (option of filteredDoctorsOptions | async; track option) {
                                <!-- <mat-option [value]="option">{{ displayFn(option) }}</mat-option> -->
                               <mat-option [value]="option">{{option.name | titlecase }}  {{option.cedula}}</mat-option>
                              }
                            </mat-autocomplete>
                            <mat-error *ngIf="AssignProductForm.controls['medico'].hasError('required')">
                                El médico es requerido.
                            </mat-error>
<!--                              Botón para agregar nuevo médico (comentado según tu solicitud) 
                             <button 
                            mat-icon-button 
                            matSuffix 
                            type="button" 
                            (click)="toggleNewDoctorForm()"
                            matTooltip="Agregar nuevo médico"
                          >
                            <mat-icon>medical_services</mat-icon> 
                          </button>  -->
                        </mat-form-field>
                    </div>
                     <!-- Formulario para Agregar Nuevo Médico (comentado según tu solicitud)  -->
<!--                      @if (showNewDoctorForm) {
                        <mat-card class="nested-form-card">
                        <mat-card-header>
                            <mat-card-title>Datos del Médico</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <form [formGroup]="doctorForm">
                            <div class="form-row">
                                <mat-form-field appearance="outline" class="example-full-width">
                                <input matInput placeholder="Nombre" formControlName="name" required>
                                @if (doctorForm.get('name')?.invalid && doctorForm.get('name')?.touched) {
                                    <mat-error>Nombre es requerido</mat-error>
                                }
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                <input matInput placeholder="Email" formControlName="email" required>
                                @if (doctorForm.get('email')?.invalid && doctorForm.get('email')?.touched) {
                                    <mat-error>Email es requerido</mat-error>
                                }
                                </mat-form-field>
                            </div>
                            </form>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button 
                            type="button" 
                            mat-button 
                            (click)="cancelDoctor()"
                            >
                            Cancelar
                            </button>
                            <button 
                            type="button" 
                            mat-raised-button 
                            color="primary" 
                            (click)="saveDoctor()"
                            [disabled]="doctorForm.invalid"
                            >
                            Guardar Médico
                            </button>
                        </mat-card-actions>
                        </mat-card>
                    }  -->
                </div>
            }

             <!-- Campo de selección de Familiar (solo si es asignación a empleado)  -->
            <div class="family-selection" class="example-full-width">
             @if (AssignProductForm.get('recipient')?.value === 'employee' && AssignProductForm.controls['employee'].value && !showNewFamilyMemberForm) {
                <div class="form-row">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-select
                        placeholder="Familiar"
                        formControlName="family"
                        >
                        <option [value]="null" disabled selected>Seleccionar familiar</option>
                        <mat-option [value]="null">Ninguno</mat-option>
                        @for (item of listFamily; track item) {
                            <!-- <mat-option [value]="item.familyId">{{item.familyName | titlecase}}</mat-option> -->
                            <mat-option [value]="item.familyId">{{item.familyName | titlecase }}-{{item.familyCedula}}</mat-option>
                        }
                        </mat-select>
                        <mat-error *ngIf="AssignProductForm.controls['family'].errors?.['maxLength']">
                            Máximo de 10 caracteres.
                        </mat-error>
                        <button 
                        mat-icon-button 
                        matSuffix 
                        type="button" 
                        (click)="toggleNewFamilyMemberForm()"
                        matTooltip="Agregar nuevo familiar">
                        <mat-icon>add_circle</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
             }
          
             <!-- Formulario para Agregar Nuevo familiar  -->
            @if (showNewFamilyMemberForm) {
            <mat-card class="nested-form-card">
                <mat-card-header>
                <mat-card-title>Agregar familiar al empleado</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <form [formGroup]="familyMemberForm">
                    <div class="form-row">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Nombre" formControlName="name" required>
                        @if (familyMemberForm.get('name')?.invalid && familyMemberForm.get('name')?.touched) {
                        <mat-error>Nombre es requerido</mat-error>
                        }
                    </mat-form-field>
<!--                     <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Cédula" formControlName="documentId">
                        @if (familyMemberForm.controls['documentId'].errors?.['maxLength'] && familyMemberForm.get('documentId')?.touched) {
                        <mat-error>Máximo de 10 caracteres</mat-error>
                        }
                    </mat-form-field> -->

                    <!-- Nuevo grupo para Cédula con select y input -->
                    <div class="form-group" style="display: flex; gap: 8px;">
                        <mat-form-field appearance="outline" color="primary" style="width: 25%;">
                            <!-- <mat-label>Tipo</mat-label> -->
                            <mat-select formControlName="cedulaType" required>
                                <mat-option value="V">V</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                            <mat-error *ngIf="familyMemberForm.controls['cedulaType'].hasError('required')">
                            Tipo requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="primary" style="flex-grow: 1;">
                            <!-- <mat-label>Cédula</mat-label> -->
                            <input
                            matInput
                            placeholder="Ingresa tu cédula"
                            formControlName="cedulaNumber"
                            required
                            type="text"
                            />
                            <mat-error *ngIf="familyMemberForm.controls['cedulaNumber'].hasError('required')">
                            La cédula es requerida.
                            </mat-error>
                            <mat-error *ngIf="familyMemberForm.controls['cedulaNumber'].hasError('maxlength')">
                            La cédula no puede exceder los 10 caracteres.
                            </mat-error>
                            <mat-error *ngIf="familyMemberForm.controls['cedulaNumber'].hasError('pattern')">
                            La cédula debe contener solo números.
                            </mat-error>
                        </mat-form-field>
                    </div>
        
                    </div>
                </form>
                </mat-card-content>
                <mat-card-actions align="end">
                <button 
                    type="button" 
                    mat-button 
                    (click)="cancelFamilyMember()"
                >
                    Cancelar
                </button>
                <button 
                    type="button" 
                    mat-raised-button 
                    color="primary" 
                    (click)="saveFamilyMember()"
                    [disabled]="familyMemberForm.invalid"
                >
                    Guardar Familiar
                </button>
                </mat-card-actions>
            </mat-card>
            }
            </div>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-select
              placeholder="Tipo de Asignación"
              formControlName="type"
              required="true"
              >
              @for (item of listTypesAssignment; track item) {
                <mat-option [value]="item">{{item.name | titlecase}}</mat-option>
              }
              </mat-select>

              <mat-error *ngIf="AssignProductForm.controls['type'].hasError('required') ">
                El tipo de asignación es requerido
              </mat-error>
              <mat-error *ngIf="AssignProductForm.controls['type'].errors?.['maxLength']">
                Máximo de 30 caracteres.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Observación"
                formControlName="observation"
                type="text"
                />
                <mat-error *ngIf="AssignProductForm.controls['observation'].errors?.['maxLength']">
                    Máximo de 200 caracteres.
                </mat-error>
            </mat-form-field>
          </div>
      
          <div class="row">
              <div class="ml-auto">
                  <button
                  color="primary"
                  mat-flat-button
                  [disabled]="AssignProductForm.invalid || disableButton"
                  (click)="save()"
                  >
                  Guardar
                  </button>
                  <button
                  class="m-r-10 bg-error m-l-8"
                  mat-flat-button
                  (click)="cancel()"
                  >
                  Cancelar
                  </button>
              </div>
          </div>
        </form>
    </div>
    </div>
  </mat-dialog-content>
