<h2 mat-dialog-title *ngIf="this.selectedProduct">
  @if (!this.edit) {
    Ver producto {{this.selectedProduct.code | titlecase}}
  }@else {
    Editar producto 
}
</h2>

<mat-dialog-content class="mat-typography">
    <div class="d-flex align-items-center">
    <div class="right-bg-content p-10">
        <form [formGroup]="editProdFormGroup" #f="ngForm">
          <div class="wrapper-img" [class.has-image]="!!imgBase64()">
            <img
              class="img"
              alt="Producto"
              [src]="imgBase64() ? imgBase64() : '../../assets/images/products/default_product_image.png'"
              (error)="handleImageError()"
            />
            @if (imageError && !this.edit) {
              <div>No se pudo cargar la imagen del producto.</div><br>
            }
            
            @if (isLoading()) {
              <div class="loading-overlay">
                <span>Cargando imagen...</span>
              </div>
            }
            
            <div class="image-actions" *ngIf="this.edit">
              <button
                type="button"
                color="primary"
                mat-flat-button
                (click)="fileInput.click()"
              >
                @if (!imgBase64()) {
                  Seleccionar imagen
                } @else {
                  Cambiar imagen
                }
              </button>
              
              @if (imgBase64()) {
                <button
                  type="button"
                  color="warn"
                  mat-flat-button
                  (click)="removeImage()"
                >
                  Eliminar
                </button>
              }
            </div>
            
            <input
              hidden
              (change)="onFileSelected($event)"
              #fileInput
              type="file"
              accept="image/png, image/jpeg"
            />
          </div>
          <div class="row p-10">
            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Nombre"
                formControlName="name"
                required="true"
                type="text"
                />
                <mat-error *ngIf="editProdFormGroup.controls['name'].hasError('required') || editProdFormGroup.controls['name'].hasError('maxLength') ">
                    El nombre es requerido<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 50 caracteres</span>.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Proveedor</mat-label>
                
                <input 
                    type="text"
                    matInput
                    placeholder="Buscar proveedor"
                    formControlName="providerId"
                    [matAutocomplete]="auto"
                    required
                />
                
                <button 
                    mat-icon-button 
                    matSuffix 
                    type="button" 
                    (click)="toggleAddProviderForm($event)"
                    matTooltip="Agregar proveedores"
                    tabindex="-1"
                    *ngIf="this.edit"
                >
                  <mat-icon>person_add</mat-icon> 
                </button>

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let provider of filteredProviders | async" [value]="provider.id">
                    {{ provider.name | titlecase}} </mat-option>
                </mat-autocomplete>

                <mat-error *ngIf="editProdFormGroup.controls['providerId'].hasError('required')">
                    El proveedor es requerido
                </mat-error>
                <mat-error *ngIf="editProdFormGroup.get('providerId')?.hasError('maxlength')">
                    Máximo de 50 caracteres.
                </mat-error>
            </mat-form-field>

            <!-- Formulario para Agregar Nuevo Proveedor -->
            @if (showAddProviderForm && this.edit) {
                <mat-card class="nested-form-card">
                  <mat-card-header>
                      <mat-card-title>Datos del Proveedor</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                      <form [formGroup]="providerForm">
                        <div class="form-row">
                            <!-- Name del proveedor -->
                            <mat-form-field appearance="outline" class="example-full-width">
                              <input matInput placeholder="Nombre" formControlName="name" required>
                              <mat-error *ngIf="providerForm.controls['name'].errors"> 
                                  <ng-container *ngIf="providerForm.controls['name'].hasError('required')">
                                      El nombre es requerido.
                                  </ng-container>
                                  <ng-container *ngIf="providerForm.controls['name'].hasError('maxlength')">
                                      No puede tener más de 200 caracteres.
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>
        
                            <!-- Email del proveedor -->
                            <mat-form-field appearance="outline" class="example-full-width">
                              <input matInput placeholder="Email" formControlName="email" required>
                              <mat-error *ngIf="providerForm.controls['email'].errors"> 
                                  <ng-container *ngIf="providerForm.controls['email'].hasError('required')">
                                      El email es requerido.
                                  </ng-container>
                                  <ng-container *ngIf="providerForm.controls['email'].hasError('email')">
                                      Por favor, introduce un email válido.
                                  </ng-container>
                                  <ng-container *ngIf="providerForm.controls['email'].hasError('maxlength')">
                                      No puede tener más de 100 caracteres.
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>

                            <!-- Telefono del proveedor -->
                            <mat-form-field appearance="outline" class="example-full-width">
                              <input matInput placeholder="Teléfono" formControlName="phone" required>
                              <mat-error *ngIf="providerForm.controls['phone'].errors"> 
                                  <ng-container *ngIf="providerForm.controls['phone'].hasError('required')">
                                      El teléfono es requerido.
                                  </ng-container>
                                  <ng-container *ngIf="providerForm.controls['phone'].hasError('maxlength')">
                                      No puede tener más de 50 caracteres.
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>
                        </div>
                      </form>
                  </mat-card-content>
                  <mat-card-actions align="end">
                      <button 
                      type="button" 
                      mat-button 
                      (click)="cancelFormProvider()"
                      >
                      Cancelar
                      </button>
                      <button 
                      type="button" 
                      mat-raised-button 
                      color="primary" 
                      (click)="saveProvider()"
                      [disabled]="providerForm.invalid"
                      >
                      Guardar Proveedor
                      </button>
                  </mat-card-actions>
                </mat-card>
            }
            
            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Descripción"
                formControlName="description"
                required="true"
                type="text"
                />
                <mat-error *ngIf="editProdFormGroup.controls['description'].hasError('required') || editProdFormGroup.controls['description'].hasError('maxLength') ">
                    La descripción es requerida<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 50 caracteres</span>.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width"  *ngIf="categories.length > 0">
                <mat-select
                placeholder="Categoría"
                formControlName="category"
                required="true"
                >
                <mat-option [value]="category.id"  *ngFor="let category of categories">{{
                    category.name | titlecase
                }}</mat-option>

                </mat-select>

                <mat-error *ngIf="editProdFormGroup.controls['category'].hasError('required') || editProdFormGroup.controls['category'].hasError('maxLength') ">
                    La categoría es requerida<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 50 caracteres</span>.
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-select
                placeholder="Categoría"
                formControlName="category"
                required="true"
                >
                <mat-option [value]="1">{{
                    'Categoria 1' 
                }}</mat-option>
                <mat-option [value]="2">{{
                    'Categoria 2' 
                }}</mat-option>
                <mat-option [value]="3">{{
                    'Categoria 3' 
                }}</mat-option>
                </mat-select>

                <mat-error *ngIf="editProdFormGroup.controls['category'].hasError('required') || editProdFormGroup.controls['category'].hasError('maxLength') ">
                    La categoría es requerida<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 50 caracteres</span>.
                </mat-error>
            </mat-form-field> -->
        
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-select (change)="setupTypeChangeDetection()"
                placeholder="Tipo"
                formControlName="type"
                required="true"
                >
                  <mat-option [value]="1">Medicamentos</mat-option>
                  <mat-option [value]="2">Uniformes</mat-option>
                  <mat-option [value]="3">Equipos Odontológicos</mat-option>
                </mat-select>

                <mat-error *ngIf="editProdFormGroup.controls['type'].hasError('required') || editProdFormGroup.controls['type'].hasError('maxLength') ">
                    El tipo es requerido.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Stock"
                formControlName="stock"
                required="true"
                type="number"
                />

                <mat-error *ngIf="editProdFormGroup.controls['stock'].hasError('required')">
                    El stock es requerido<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 3 caracteres</span>.
                </mat-error>
                <mat-error *ngIf="editProdFormGroup.controls['stock'].hasError('maxLength')">
                    El stock como máximo puede tener 3 caracteres.
                </mat-error>
                <mat-error *ngIf="editProdFormGroup.controls['stock'].hasError('max')">
                    El stock como máximo puede tener un valor de 100.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <input
                matInput
                placeholder="Código"
                formControlName="code"
                required="true"
                type="text"
                />

                <mat-error *ngIf="editProdFormGroup.controls['code'].hasError('required') || editProdFormGroup.controls['code'].hasError('maxLength') ">
                    El código es requerido<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 50 caracteres</span>.
                </mat-error>
            </mat-form-field>

             @if ( editProdFormGroup.controls['type'].value!='' && editProdFormGroup.controls['type'].value != 2 && editProdFormGroup.controls['type'].value != 3)  {
               <mat-form-field appearance="outline" class="example-full-width">
                 <input matInput [matDatepicker]="expirationDate" placeholder="Fecha de vencimiento" formControlName="expirationDate" required="false">
                 <mat-hint>DD/MM/YYYY</mat-hint>
                 <mat-datepicker-toggle matIconSuffix [for]="expirationDate"></mat-datepicker-toggle>
                 <mat-datepicker #expirationDate></mat-datepicker>
   
                 <mat-error *ngIf="editProdFormGroup.controls['expirationDate'].hasError('required') || editProdFormGroup.controls['expirationDate'].hasError('maxLength') ">
                     La fecha de vencimiento es requerida<span class="ocultar-en-movil-tablet m-l-5"> y como máximo puede tener 50 caracteres</span>.
                 </mat-error>
               </mat-form-field>
             }

          <mat-form-field appearance="outline" class="example-full-width">
              <mat-select
              placeholder="Estado"
              formControlName="status"
              required="true"
              >
              <mat-option [value]="1">{{
                  'Disponible'
                }}</mat-option>
              <mat-option [value]="2">{{
                  'No Disponible'
              }}</mat-option>
              <!-- Las opciones de actualizar a 'Próximo a vencerse' o 'caducado' son para admin y almacen -->
              @if (this.role === 'admin' || this.role === 'almacen') {
                @if ( editProdFormGroup.controls['type'].value!='' && editProdFormGroup.controls['type'].value === 1){
                  <mat-option [value]="3">{{
                      'Próximo a vencerse'
                  }}</mat-option>
                  <mat-option [value]="4">{{
                    'Caducado'
                  }}</mat-option>
                }
              }
              </mat-select>

              <mat-error *ngIf="editProdFormGroup.controls['status'].hasError('required')">
                  El estado es requerido.
              </mat-error>
          </mat-form-field>

          </div>
          <div class="row">
            <div class="ml-auto">
                  @if (this.edit) {
                    <button
                    color="primary"
                    mat-flat-button
                    [disabled]="editProdFormGroup.invalid && disableButton"
                    (click)="save()"
                    >
                    Guardar
                    </button>
                  }
                    <button
                    class="m-r-10 bg-error m-l-8"
                    mat-flat-button
                    (click)="cancel()"
                    >
                    @if (!this.edit){
                      Cerrar
                    }@else {
                      Cancelar
                    }
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>
</mat-dialog-content>