/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0;}
// body {font-family: Roboto, "Helvetica Neue", sans-serif;}
body {font-family: Georama !important;}

//estilo menu sidebar: modifica la alineacion de los items hacia la izquierda
.sidebar-list.mdc-list .menu-list-item .mdc-list-item__primary-text{
    justify-content: flex-start !important;
}