<h2 mat-dialog-title>
    @if (!this.edit) {
        Ver usuario {{this.selectedUser.name | titlecase}}
    }@else {
        Editar usuario 
    }
  </h2>

<mat-dialog-content class="mat-typography">
    <div class="d-flex align-items-center">
    <div class="right-bg-content p-10">

        <form [formGroup]="userFormGroup" #f="ngForm">

          <div class="row p-10">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  placeholder="Ingresa tu nombre"
                  formControlName="name"
                  required
                  type="text"
                />
                <mat-error *ngIf="userFormGroup.controls['name'].hasError('required')">
                  El nombre es requerido.
                </mat-error>
                <mat-error *ngIf="userFormGroup.controls['name'].hasError('maxlength')">
                  El nombre no puede exceder los 50 caracteres.
                </mat-error>
              </mat-form-field>

            <!-- Nuevo grupo para Cédula con select y input -->
            <div class="form-group" style="display: flex; gap: 8px;">
              <mat-form-field appearance="outline" color="primary" style="width: 30%;">
                <!-- <mat-label>Tipo</mat-label> -->
                <mat-select formControlName="cedulaType" required >
                  <mat-option value="V">V</mat-option>
                  <mat-option value="E">E</mat-option>
                </mat-select>
                <mat-error *ngIf="userFormGroup.controls['cedulaType'].hasError('required')">
                  Tipo requerido.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="primary" style="flex-grow: 1;">
                <mat-label>Cédula</mat-label>
                <input
                  matInput
                  placeholder="Ingresa tu cédula"
                  formControlName="cedulaNumber"
                  required
                  type="text"
                />
                <mat-error *ngIf="userFormGroup.controls['cedulaNumber'].hasError('required')">
                  La cédula es requerida.
                </mat-error>
                <mat-error *ngIf="userFormGroup.controls['cedulaNumber'].hasError('maxlength')">
                  La cédula no puede exceder los 10 caracteres.
                </mat-error>
                <mat-error *ngIf="userFormGroup.controls['cedulaNumber'].hasError('pattern')">
                  La cédula debe contener solo números.
                </mat-error>
              </mat-form-field>
            </div>
        
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Ingresa tu email"
                  formControlName="email"
                  required
                  type="email"
                  autocomplete="email"
                />
                <mat-error *ngIf="userFormGroup.controls['email'].hasError('required')">
                  El email es requerido.
                </mat-error>
                <mat-error *ngIf="userFormGroup.controls['email'].hasError('email')">
                  Por favor, introduce un email válido.
                </mat-error>
                <mat-error *ngIf="userFormGroup.controls['email'].hasError('maxlength')">
                  El email no puede exceder los 50 caracteres.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Roles</mat-label>

                <mat-select
                placeholder="Roles"
                formControlName="role"
                required="true"
                >
                <mat-option [value]="1">{{
                    'Administrador'
                }}</mat-option>
                <mat-option [value]="7">{{
                    'Administrador2'
                }}</mat-option>
                <mat-option [value]="2">{{
                    'Almacén' 
                }}</mat-option>
                    <mat-option [value]="5">{{
                        'Almacén móvil' | titlecase
                    }}</mat-option>
                <mat-option [value]="3">{{
                    'Médico' 
                }}</mat-option>
                <mat-option [value]="4">{{
                    'Auditor'
                }}</mat-option>
                <mat-option [value]="6">{{
                    'Enfermero(a)' 
                }}</mat-option>
                </mat-select>
            <mat-error *ngIf="userFormGroup.controls['role'].hasError('required')">
                El rol es requerido.
            </mat-error>
            </mat-form-field>
        
<!--             <mat-form-field appearance="outline" class="example-full-width">
              <mat-select
              placeholder="Roles"
              formControlName="role"
              required="true"
              >
              <mat-option value="null">
                  Ninguno
              </mat-option>
              @for (item of listRolesActives; track item) {
                  <mat-option [value]="item.id">{{
                      item.name | titlecase
                  }}</mat-option>
              }
              </mat-select>
           </mat-form-field> -->
<!--             <mat-form-field appearance="outline" class="example-full-width">
                <mat-select
                placeholder="Roles"
                formControlName="role"
                required="true"
                >
                <mat-option value="admin">{{
                    'Administrador' | titlecase
                }}</mat-option>
                <mat-option value="almacen">{{
                    'Almacén' | titlecase
                }}</mat-option>
                <mat-option value="medico">{{
                    'Médico' | titlecase
                }}</mat-option>
                <mat-option value="auditor">{{
                    'Auditor' | titlecase
                }}</mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Estado</mat-label>

              <mat-select
              placeholder="Estado"
              formControlName="isActive"
              required="true"
              >
                <mat-option [value]="true">{{
                    'Activo' | titlecase
                }}</mat-option>
                <mat-option [value]="false">{{
                    'Inactivo' | titlecase
                }}</mat-option>

              </mat-select>
            <mat-error *ngIf="userFormGroup.controls['isActive'].hasError('required')">
                El estado es requerido.
            </mat-error>
          </mat-form-field>
          </div>
      
          <div class="row">
              <div class="ml-auto">
                @if (this.edit) {
                  <button
                  color="primary"
                  mat-flat-button
                  [disabled]="userFormGroup.invalid && disableButton"
                  (click)="saveUser()"
                  >
                  Guardar
                  </button>
                }
                  <button
                  class="m-r-10 bg-error m-l-8"
                  mat-flat-button
                  (click)="cancel()"
                  >
                  @if (!this.edit){
                    Cerrar
                  }@else {
                    Cancelar
                  }
                  </button>
              </div>
          </div>
          
        </form>
        
    </div>
    </div>
  </mat-dialog-content>