.wrapper-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img {
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }
  .example-full-width {
    width: 100%;
  }
.ocultar-en-movil-tablet {
  display: inline-bloc !important;
  @media (min-width: 600px) and (max-width: 991px) {
    display: none !important;
  }
  @media (max-width: 599px) {
    display: none !important;
  }
}
  .form-group {
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}