.mat-form-field-invalid {
    .mat-form-field-underline {
      border-color: red; 
    }
  
    .mat-form-field-subscript-wrapper {
    
      color: red; 
    }
  }

.ocultar-en-movil-tablet{
  display: inline-block !important;

  // Media query para tabletas 
  @media (min-width: 600px) and (max-width: 991px) {
    display: none !important;
  }
  // Media query para teléfonos 
  @media (max-width: 599px) {
    display: none !important;
  }
}