.position-relative{
    position:relative !important;
}

i-feather.big.fill-red[name='activity']  {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%; 
    color: rgb(181, 175, 247);
    margin-right: 5px;
}
.icon-18 {
    height: 18px !important;
    width: 18px !important;
    line-height: 26px !important;
}
h4{
    color: #f1f1f1;
}