<div class="rounded p-y-30 p-x-24 m-b-30 overflow-hidden" style="background-color: rgb(30 49 233 / 71%);">
    <!--     <div>
            <h4 class="mat-h4" style="margin-bottom: 16px !important;">Usuarios</h4>
            <p>Dashboard>Usuarios</p>
        </div>
    
        <i-feather name="activity" class="big fill-red"></i-feather> -->
        <div class="row"><div class="col-sm-8">
            <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"> {{title}} </h4>
            <div class="d-flex align-items-center overflow-hidden">
                <ul class="breadcrumb">
                    <!-- <li class="breadcrumb-item" tabindex="0"><a href="#">Dashboard</a></li> -->
    <!--                 <li class="breadcrumb-item">-->
                        <!-- <i-tabler name="circle-filled" class="icon-8" _nghost-ng-c2605515766=""> - ->
                        <i-feather name="activity" class="big fill-red">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z" stroke-width="0" fill="currentColor"></path>
                            </svg>
    
                        </i-feather>
                    </li> -->
                    <!-- <li class="breadcrumb-item active f-s-14">Employee</li> -->
                </ul></div></div>
                <div class="col-sm-4 text-right position-relative">
                    <i-feather name="activity" class="big fill-red"></i-feather> 
                    <!-- <div class="breadcrumb-icon">
                        <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165">
                    </div> -->
                </div></div>
    </div>