<div class="rounded p-y-30 p-x-24 m-b-30 overflow-hidden" style="background-color: rgb(30 49 233 / 71%);">
        <div class="row"><div class="col-sm-8">
            <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"> {{title}} </h4>
            <div class="d-flex align-items-center overflow-hidden">
                <ul class="breadcrumb">
                </ul></div></div>
                <div class="col-sm-4 text-right position-relative">
                    <i-feather name="activity" class="big fill-red"></i-feather> 
                </div></div>
    </div>